---
- name: Configuraci贸n exporters de OpenNebula
  ansible.builtin.import_tasks: one_exporters.yml
  when: config_one_exporters

- name: Configuraci贸n exporters de ceph
  ansible.builtin.import_tasks: ceph_exporters.yml
  when:
    - config_one_exporters
    - ansible_hostname == groups['ceph_admins'][0]

- name: Configuraci贸n de prometheus
  ansible.builtin.import_tasks: prometheus.yml
  when:
    - config_prometheus
    - ansible_hostname in groups['frontend']

- name: Configuraci贸n de alertmanager
  ansible.builtin.import_tasks: alertmanager.yml
  when:
    - config_alertmanager
    - ansible_hostname in groups['frontend']
