[Service]
ExecStart=
ExecStart=/usr/bin/alertmanager \
          --config.file=/etc/one/alertmanager/alertmanager.yml \
          --storage.path=/var/lib/alertmanager/data/ \
{% for host in groups['frontend'] %}
  {% if host != inventory_hostname %}
          --cluster.peer={{ hostvars[host]['ansible_host'] }}:9094 {% if not loop.last %} \{% endif %}
  {% endif %}
{% endfor %}