#!/bin/bash
{% for mgr, host in monitoring_mgrs_id|zip(monitoring_mgrs_host) %}
ceph config set mgr mgr/prometheus/{{ mgr }}/server_addr {{ hostvars[host]['ansible_host'] }}
{% endfor %}
ceph mgr module enable prometheus