server {
   listen 4200;
   server_name {{ vip }};
 
   location / {
       proxy_pass http://{{ hostvars[groups['ceph_admins'][monitoring_random_index | int]]['ansible_host'] }}:8080;
       proxy_set_header Host $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
   }
}
